@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}
:root {
    --clr1: #6e082a;
}
body {
    position: relative;
    min-height: 100vh;
}
.container {
    position: relative;
    padding: 0 60px;
}
.form_box {
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
}
.form_banner {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 0 2px rgba(0, 0, 0, .7);
    padding: 40px;
}
.form_banner.login {
    box-shadow: -4px 0 2px rgba(0, 0, 0, .7);
}
.form_banner h2 {
    font-size: 2.2rem;
    color: var(--clr1);
}
.form_banner img {
    width: 300px;
}
.form_banner h3 {
    font-size: 1.7rem;
    color: 800;
    margin-bottom: 10px;
}
.form_banner p {
    margin: 10px 0;
}
.form_banner p.tagline {
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--clr1);
}

.form_box .form {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form h2 {
    font-size: 1.7rem;
}
.form p {
    margin-bottom: 20px;
}
.form_group {
    width: 100%;
    border: 2px solid var(--clr1);
    margin: 20px 0;
    position: relative;
    padding: 15px;
}
.form_group input, .form_group select, .form_group textarea {
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 600;
}
textarea {
    resize: none;
}
.form_group label {
    position: absolute;
    left: 10px;
    top: -15px;
    background: #fff;
    padding: 3px 7px;
    color: var(--clr1);
    font-weight: 600;
}
button {
    display: inline-block;
    margin-bottom: 5px;
    padding: 4px 7px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--clr1);
    color: #fff;
    font-size: 1rem;
    border-radius: 7px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .7);
}
.single-link a{
    text-decoration: none;
    color: var(--clr1);
    font-weight: 800;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}


@media screen and (max-width: 999px ) {
    .form_box {
        justify-content: center;
    }
    .form_banner {
        display: none;
    }
    .form {
        padding: 0 20px !important;
    }
    .form h2 {
        font-size: 1.4rem;
    }
}


/* INDEX */
main {
    /* background-color: red; */
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
}
main aside {
    width: 230px;
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: var(--clr1);
    transition: .15s linear;
    padding: 0 30px;
    color: #fff;
    box-shadow: 4px 2px 6px rgba(0, 0, 0, .7);
    display: flex;
    flex-direction: column;
    overflow: auto;
}
main aside .logo {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    min-height: 80px;
    position: sticky;
    top: 0;
    background-color: var(--clr1);
    font-weight: 800;
}
main aside::-webkit-scrollbar {
    display: none;
}
main aside .logo i{
   display: none;
}
main aside ul {
    list-style: none;
}
main aside ul li {
    height: 60px;
    display: flex;
    align-items: center;
    font-weight: 600;
    word-break: unset;
}
main aside ul li.active {
   color: aqua;
}

main aside ul li i {
   margin-right: 8px;
}
main aside .version i {
   margin-right: 8px;
}
main aside a {
    text-decoration: none;
    color: inherit;
}
main section {
    min-height: 100vh;
    width: calc(100% - 230px);
    transition: width .15s linear;
    background-color: #fff;
}


main section header {
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding: 0 30px;
    color: #fff;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, .7);
    background-color: var(--clr1);
    justify-content: space-between;
    z-index: 20;
}
main section header .header-icons {
    display: flex;
    gap: 30px;
}
main section header .header-icons a {
   color: #fff;
}

main section header .header-icons i{
    font-size: 1.1rem;
    cursor: pointer;
}
main section header .header-icons > div{
    position: relative;
}
.header-icon-box {
    position: absolute;
    width: 250px;
    background-color: #fff;
    box-shadow: 0px 0px 4px  rgba(0, 0, 0, .7);
    top: 40px;
    right: 5px;
    height: 330px;
    display: none;
    color: #000;
    overflow-y: auto;
    overflow-x: hidden;
}
.header-icon-box h4 {
    background: var(--clr1);
    color: #fff;
    text-align: center;
    padding: 8px 0;
}
.single-notificiation {
    padding: 4px 6px;
    display: flex;
    font-size: .9rem;
    margin: 10px 0;
    cursor: pointer;
}
.single-notificiation:hover {
   font-weight: 600;
}
.header-icon-box .view-all {
    position: absolute;
    z-index: 10;
    bottom: 0;
}

.header-icon-box.active {
    display: block;
}
.toggle-sidebar {
    cursor: pointer;
}
.toggle-sidebar i {
    font-size: 1.1rem;
    font-weight: 700;
}
.version {
    position: sticky;
    bottom: 2px;
    opacity: .7;
    height: 80px;
    display: flex;
    align-items: center;
}



/* Toggled */
.collapsed main aside {
    width: 50px;
    white-space: nowrap;
    text-align: center;
    align-items: center;
}
.collapsed main section {
    width: calc(100% - 50px);
}
.collapsed main aside li span, .collapsed main aside .version span {
    display: none;
}
.collapsed main aside .logo span{
    display: none;
}
.collapsed main aside .logo i{
    display: block;
    font-style: normal;
}


/* Content */
.content {
    padding: 40px;
    position: relative;
}
.content .page-heading {
    font-size: 1.5rem;
    color: var(--clr1);
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content .page-heading span {
    font-size: .8rem;
    color: gray;
}
.content .page-heading span i {
    margin: 0 5px;
}

/* Category */
.working-area {
    width: 100%;
    min-height: 350px;
    margin-top: 30px;
}
.working-area .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head span {
    font-size: 1.2rem;
    font-weight: 600;
}
.head-action {
    padding: 5px 7px;
    background-color: var(--clr1);
    color: #fff;
    cursor: pointer;
    font-size: .9rem;
    border-radius: 5px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .7);
}
.body {
    width: 100%;
}
table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    margin-top: 13px;
}
th, td {
    padding: 8px 12px; 
    border: 1px solid #ddd; 
    text-align: left; 
    font-size: .9rem;
    font-weight: 600;
}
th {
    background-color: var(--clr1); 
    color: #fff; 
}
td a {
    text-decoration: none;
    padding: 3px 5px;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}
a.active {
    background-color: var(--clr1);
}
a.inactive {
    background: #f00;
}

.backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #ffffff30;
    inset: 0;
    z-index: 99;
    display: none;
}
.backdrop.active {
    display: block;
}
.modal, .modal2 {
    width: 400px;
    min-height: 200px;
    background-color: #fff;
    border-radius: 7px;
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    display: none;
}
.modal.active, .modal2.active {
    display: block;
}
.modal-heading {
    width: 100%;
    height: 50px;
    background: var(--clr1);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 700;
}
.modal-body {
    padding: 10px 20px;
}
.modal-heading .close-modal {
    position: absolute;
    right: 2%;
    top: 2%;
    cursor: pointer;
    font-size: .9rem;
}
.close-modal i {
    color: #fff;
}

/* Budget */
.total-budget-bar {
    width: 100%;
    height: 40px;
    background-color: #fff;
    margin-top: 20px;
    border: 1px solid var(--clr1);
    position: relative;
}
.consumed-budget-bar {
    height: 100%;
    background-color: var(--clr1);
    width: calc(var(--consumedBudget) / var(--totalBudget) * 100%);
    position: relative;
}
.consumed-budget-bar::before {
    content: "";
    position: absolute;
    bottom: -25px;
    height: 1px;
    width: 100%;
    background-color: var(--clr1);
}
.consumed-budget-bar::after {
    content: "Consumed Budget";
    position: absolute;
    bottom: -36px;
    left: 50%;
    transform: translateX(-50%);
    padding: 3px 5px;
    color: var(--clr1);
    background-color: #fff;
    z-index: 9;
    font-weight: 600;
    font-size: .8rem;
}
.total-budget-bar::before {
    content: "";
    position: absolute;
    bottom: -50px;
    height: 1px;
    width: 100%;
    background-color: #000;
}
.total-budget-bar::after {
    content: "Total Budget";
    position: absolute;
    bottom: -62px;
    left: 50%;
    transform: translateX(-50%);
    padding: 3px 5px;
    color: #000;
    background-color: #fff;
    z-index: 9;
    font-weight: 600;
    font-size: .8rem;
}


#incomeExpenseChart {
    width:100%;
    max-width:600px;
    margin-top: 85px;
}
.pie-chart {
    width: 100%;
    display: flex;
    justify-content: center;
}
.row {
    display: flex;
    gap: 20px;
}
.incomeRange, .expenseRange, .overallRange {
    display: none;
}
.incomeRange.active, .expenseRange.active, .overallRange.active {
    display: flex;
}
.single-report {
    box-shadow: 0 0 7px rgba(0, 0, 0, .7);
    border-radius: 7px;
    padding: 15px;
    margin-bottom: 20px;
}
.small-text {
    font-size: .9rem;
}
.table-action {
    background: transparent;
    box-shadow: none;
    color: var(--clr1);
    padding: 3px;
    font-size: 1.1rem;
}
.table-action:nth-child(2) {
    background: transparent;
    color: #f00;
}
.dashboard-recent {
    margin-top: 85px;
}
.dashboard-recent > div {
    width: 100%;
}
.view-all {
    width: 100%;
    padding: 4px 0;
    text-decoration: none;
    background: var(--clr1);
    color: #fff;
    text-align: center;
    display: block;
}
